<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Clone</title>
    <link rel="stylesheet" href="css/404.css">
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <header class="twtHead">
        <!-- Logo -->
        <img class="imgIcon" src="/imgs/twitterclonebird.jpg" alt="a blue bird"/>
        <div class="button-cont">
            <button class="head" id="home" onclick="location.href='http://localhost:5000/'">Home</button></div><div class="button-cont"><button 
                class="head" 
                id="latest"
                onclick="location.href=`http://localhost:5000/newPost`;"
        >New Post</button></div>
    </header>
    <main>
        <p class="error">An Error has occurred.</p>
        <p>Sorry, an error has occurred with the application. Click one of the buttons above to go back.</p>
    </main>
</body>
</html>